##############################################################################################
#  https://github.com/github/gitignore/blob/main/community/Python/JupyterNotebooks.gitignore #
#  a14296f on Oct 23, 2019                                                                   #
##############################################################################################

.ipynb_checkpoints

##############################################################################################
# Project files                                                                              #
##############################################################################################

# jupyter
.jukit
